<div class="p-2 d-flex flex-row align-items-center">
  <div
    class="input-group shadow d-flex align-items-center"
    id="search-currency"
  >
    <div class="input-group-prepend px-2">
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="{{ placeholder }}"
      (ngModelChange)="search($event)"
      [(ngModel)]="searchValue"
    />
    <div
      class="currency-list-container shadow scroll px-2"
      id="currency-list-container"
      [hidden]="!isSearching"
    >
      <app-add-currency-to-list-item
        *ngFor="
          let currency of currencyList | async | filterCurrencyList: searchValue
        "
        [currency]="currency"
        (click)="hideList()"
      ></app-add-currency-to-list-item>
    </div>
  </div>

  <div
    class="btn-group btn-group-toggle ml-3 shadow"
    data-toggle="buttons"
    *ngIf="currencytoSearch | async"
  >
    <label
      class="btn btn-gbp"
      [ngClass]="{ 'currency-active': isShowCurrency('gbp') }"
      (click)="updateShowCurrency('gbp')"
    >
      <input
        type="radio"
        name="options"
        id="gbp"
        autocomplete="off"
        checked
        value="gbp"
      />
      £
    </label>
    <label
      class="btn btn-usd"
      [ngClass]="{ 'currency-active': isShowCurrency('usd') }"
      (click)="updateShowCurrency('usd')"
    >
      <input
        type="radio"
        name="options"
        id="usd"
        autocomplete="off"
        value="usd"
      />
      $
    </label>
  </div>
</div>
