<nav
  class="d-flex flex-column h-100 bg-primary-light"
  [@openClose]="this.active ? 'open' : 'closed'"
>
  <div class="d-flex justify-content-between bg-primary-dark p-3">
    <h5>Cryto Challenge</h5>
    <fa-icon (click)="toggleExpand()" [icon]="faBars"></fa-icon>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/currencies"
        routerLinkActive="active-route"
      >
        <div>Home</div>
        <fa-icon [icon]="faHome"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/documentation"
        routerLinkActive="active-route"
      >
        <div>Readme</div>
        <fa-icon [icon]="faFileAlt"></fa-icon>
      </a>
    </li>
  </ul>
</nav>

<div
  id="overlay"
  [@overlay]="this.active ? 'show' : 'hide'"
  (click)="toggleExpand()"
></div>
