@import "../../../variables";

nav {
  width: 220px;
  a {
    text-decoration: none !important;
    color: $text-light;
  }

  a:hover {
    color: #fff;
  }

  p {
    text-align: center;
  }

  .nav-item > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .active-route {
    opacity: 1;
    color: #fff;
    // font-weight: bold;
  }
}

fa-icon {
  width: 20px;
  text-align: center;
}

fa-icon:hover {
  cursor: pointer;
}

h5 {
  size: 1.5rem;
  font-weight: bold;
  background: $gradient-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  nav {
    position: absolute;
    z-index: 3;
  }

  #overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $primary-light;
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  #overlay {
    display: none;
  }
}
