<app-currency-options></app-currency-options>

<div class="d-flex flex-row flex-wrap w-100 py-2" *ngIf="coins | async">
  <app-currency-card
    *ngFor="let coin of coins | async | sortBy: 'coin_name'"
    [coin]="coin"
  ></app-currency-card>
</div>
