<div class="container-fluid p-0 m-0 d-flex flex-row h-100">
  <app-navbar></app-navbar>
  <div class="flex-grow-1 scroll" id="page-content">
    <app-loading *ngIf="loading | async"></app-loading>
    <router-outlet></router-outlet>
  </div>
</div>
