@import "../../../variables";

#loadingContainer {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: $primary-light;
  opacity: 0.2;
}

.spinner-border {
  position: absolute;
  z-index: 4;
  width: 3rem;
  height: 3rem;
  top: calc(100vh / 2 - 1.5rem);
  left: calc(100vw / 2 - 1.5rem);
}
