<div
  class="d-flex justify-content-center h-100 align-items-center"
  *ngIf="coin | async"
>
  <div class="card h-auto">
    <div class="card-header">
      <fa-icon [icon]="faChevronLeft" (click)="navigateBack()"></fa-icon>
      <i class="cc {{ (coin | async)?.coin_id }}" (click)="navigateBack()"></i>
      {{ (coin | async)?.coin_name }}
    </div>
    <div class="card-body scroll">
      <p>
        <strong>Latest Value:</strong>
        {{ getFormattedPrice((coin | async)?.last_price) | addCurrencySymbol }}
      </p>
      <p><strong>Volume 24hr:</strong> {{ (coin | async)?.volume_24hr }}</p>
      <p>
        <strong>Last Calculated:</strong>
        {{ (coin | async)?.utc_date | date: "MM/dd/yyyy hh:mm" }}
      </p>
      <p>
        {{ "100" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.last_price, 100) }}
      </p>
      <p>
        {{ "250" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.last_price, 250) }}
      </p>
      <p>
        {{ "5,000" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.last_price, 5000) }}
      </p>
    </div>
  </div>
</div>
