@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/cryptocoins-icons/webfont/cryptocoins.css";

body {
  overflow: hidden;
  color: $text-light;
}

.scroll {
  overflow-y: auto;
  max-height: 100%;
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.25rem;
}

@media (max-width: 570px) {
  .scroll::-webkit-scrollbar,
  body::-webkit-scrollbar {
    height: 0.25rem;
  }
}
@media (min-width: 571px) {
  .scroll::-webkit-scrollbar,
  body::-webkit-scrollbar {
    height: 0.5rem;
  }
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
  border-radius: 2.5rem;
}

.btn-gradient-primary {
  background: $gradient-primary;
  color: #fff;
}

.btn {
  border-radius: 2.5rem;
  border: none;
}

.btn:hover {
  color: #fff;
}

#mdFiles {
  color: $primary-light;
  background-color: #fff;
  h1,
  h2 {
    font-size: 1.8rem;
    height: auto;
    font-weight: bold;
    padding: 0.8rem 0;
    margin-bottom: 30px;
  }

  h1 {
    margin-top: -15px;
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
    border-bottom: solid thin;
  }
  pre {
    background-color: #201a1c;
    color: white;
    padding: 1rem;
    border-radius: 1.25rem;
    overflow-x: auto;
    max-width: 95vw;
  }
  p {
    font-weight: 500;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  code {
    margin-top: -2.5rem;
  }
}

.card-header {
  border: none;
  background-color: #fff;
}

.card {
  border-radius: 0.25rem;
  height: 320px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
}

.hover-directive {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
}
