<div class="card h-auto">
  <div class="card-body justify-content-between d-flex flex-column">
    <div class="justify-content-start align-items-start text-center">
      <div>{{ coin.coin_name }}</div>
      <i class="cc {{ coin.coin_id }}"></i>
      <div>{{ coin.coin_id }}</div>
      <div class="small">Last Value</div>
      <div>{{ getFormattedPrice() | addCurrencySymbol }}</div>
    </div>
    <button
      class="btn btn-gradient-primary btn-block"
      (click)="selectCoin()"
      hover
    >
      View
    </button>
  </div>
</div>
